.modal__content.pokemodal__content {
  padding: 10px;
}

.pokemodal__content {
  display: flex;
  flex-direction: column;
  height: 610px;
}

.pokemodal__move-list {
  padding: 0 0 0 12px;
  margin: 0;
}

.pokemodal__move-item {
  gap: 0;
  margin: 10px 0 0 0;
  padding: 0;
}

.pokemodal__move-item::marker {
  font-size: 15px;
}

.pokemodal__move-caption {
  gap: 0;
  margin: 2px 0 0 0;
  padding: 0;
}

.modal__footer.pokemodal__footer {
  background-color: rgba(110, 156, 109, 0.5);
}

.pokemodal__footer {
  overflow: scroll;
  position: relative;
  flex-grow: 0;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(110, 156, 109, 0.5);
}

@media screen and (max-width: 320px) {
  .pokemodal__content.modal__content {
    max-height: 500px;
    max-width: 300px;
  }
}
