.modal__content.pokemodal__content {
  padding: 10px;
}

.pokemodal__content {
  display: flex;
  flex-direction: column;
  height: 610px;
}

.pokemodal__moves {
  padding: 0;
  margin: 0;
}

.pokemodal__move-item {
  gap: 0;
  margin: 0;
  padding: 0;
}

.modal__footer.pokemodal__footer {
  background-color: rgba(110, 156, 109, 0.5);
}

.pokemodal__footer {
  overflow: scroll;
  position: relative;
  flex-grow: 0;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(110, 156, 109, 0.5);
}
