/* these really should probably be main and not home */
.home {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: 750px;
}

.home__landing {
  z-index: 0;
  width: 1195px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  margin-bottom: 14px;
}

.home__welcome {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  color: #496849;
  margin-top: 24px;
}

.home__poke {
  color: #496849;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
}

.home__poke-btm {
  margin-bottom: 30px;
}

.home__poke-img {
  width: 236px;
}

@media screen and (max-width: 1280px) {
  .home {
    max-width: 1280px;
  }

  .home__landing {
    max-width: 1040px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    max-width: 768px;
  }

  .home__landing {
    max-width: 575px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    max-width: 480px;
  }

  .home__landing {
    max-width: 375px;
    justify-content: flex-start;
    align-items: center;
  }

  /*top right bottom left */
  .home__welcome {
    text-align: center;
    font-size: 24px;
    margin: 24px 5px 5px 5px;
  }

  .home__poke {
    text-align: center;
    font-size: 16px;
    margin: 24px 5px 5px 5px;
  }

  .home__poke-btm {
    text-align: center;
    margin: 5px;
  }

  .home__poke-img {
    max-width: 136px;
  }
}
